[submodule "backend"]
	path = backend
	url = git@github.com:old-home/lcl-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:old-home/lcl-frontend.git
[submodule "containers/php-fpm"]
	path = containers/php-fpm
	url = git@github.com:old-home/php-fpm-container.git
